.DS_Store
gscholar/.DS_Store
gscholar/gscholar/spiders/__pycache__/gscholar.cpython-36.pyc
gscholar/label:physics_linkData.csv
*.pyc
gscholar/physics_profData.csv
gscholar/physics_linkData.csv
gscholar/label:physics_GoogleScholarData.csv
gscholar/files/master_links_GoogleScholar.csv
gscholar/files/current_link_GoogleScholar.csv
gscholar/files/current_link_GoogleScholar.csv
*.csv
*.csv
